*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/*
/build/*
/app/build/*
/mis_project_android/app/build/*
/mis_project_android/openCVLibrary347/build/*
/mis_project_android/.idea/*
/mis_project_android/.gradle/*
/mis_project_android/generated/*